@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
body {
    margin: 0;
    background: #f0eee5;
}


* {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.TopBox {
    width: 71px;
    height: 5px;
    margin: 0 auto;
    background: #2F2E2E;
    border-radius: 0 0 12px 12px;
}

.HoverBox {
    width: 55px;
    height: 55px;
    margin: 0 auto;
    background: #2F2E2E;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    left: 15px;
    top: 20px;
    transition: 250ms;
}

.PageContact {
    margin-left: 200px;
    margin-right: 103px;
    margin-top: 47px;
}

.MenuBox>ul>li>span {
    position: absolute;
    left: 80%;
    opacity: 0;
    top: 12px;
    margin-left: 2rem;
    color: #2F2E2E;
    background: #fff;
    transition: 250ms ease all;
    border-radius: 17.5px;
    line-height: 0;
    padding: 16px 15px;
    z-index: -1;
}

.MenuBox>ul>li {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: center; /* Aligne les éléments horizontalement */
    width: 55px;
    height: 55px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin-bottom: 12px;
    line-height: 68px;
    padding: 0px; /* Ajoute un peu de padding */
}

.MenuBox>ul>li>img {
    width: 48px; /* Ajuste la taille de l'image */
    height: 48px;
    border-radius: 5px 5px 5px 25px;
}

.MenuBox:not(:hover),
.MenuBox>ul>li:hover svg {
    color: white;
}

.MenuBox>ul>li:hover span {
    display: block;
    left: 100%;
    opacity: 1;
}

.Active>svg {
    color: white;
}

.feather {
    color: #6e6c6c;
    width: 25px;
    transition: 1s;
}

.MenuBox {
    background: white;
    position: absolute;
    margin: 34px 12px;
    height: 90%;
    border-radius: 9px;
    box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);
}

.Contact {
    display: flex;
}

.MenuBox>ul {
    padding: 0 15px;
    margin-top: 15px;
}

.PageContact>div {
    transition: .5s;
}

@keyframes Effect_0 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_1 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_2 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_3 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_4 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes Effect_5 {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}


/* Style About Box  */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
.linkAbout {
    text-decoration: auto;
    margin: 0 5px;
    color: black;
}

.about {
    position: absolute;
    top: 0;
    background: #ffffff;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    font-size: 1em;
    font-family: 'Heebo', sans-serif;
    right: 31px;
}

.linkAbout:hover {
    color: #1FCB45;
}

.folder-selection {
    margin-top: 20px;
    text-align: center;
}

#selectFolderButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #2F2E2E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#selectFolderButton:hover {
    background-color: #444;
}

#folderPath {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.results {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.results-box {
    width: 45%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.results-box h2 {
    margin-top: 0;
}

.results-box ul {
    list-style: none;
    padding: 0;
}

.results-box ul li {
    margin-bottom: 10px;
}
